fastapi>=0.100.0
uvicorn[standard]
motor>=3.3.0
beanie>=1.20.0
pydantic>=2.5.0
pydantic-settings
python-multipart
python-dotenv>=1.0.0
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pytesseract>=0.3.10
pdf2image
Pillow>=10.0.0
unidecode>=1.3.6
opencv-python-headless
cloudinary
torch
transformers
accelerate
scipy
protobuf
sentencepiece
huggingface_hub
